@media screen and (max-width:762px) {
    nav{
        margin: 1rem .5rem 0;
        width: 10rem;
        height: 5vh;
    }
    .back{
        display: none;
    }
    .back1{
        display: block;
    }
    main{
        margin: 1rem;
        flex-flow: row wrap;
        justify-content: center;
        .imgbox,.content{
            flex-basis: 90%;
            height: 40vh;
            margin: 0 2.5rem;
        }
    }
}