@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
html{
    font-size: 88%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: -999;
}
body{
    z-index: 999;
    color: #fff;
    background-color: $Violet;
    min-height: 100vh;
    min-width: 100%;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}